.App{
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-areas: "header content"
}

.appHeader{
    grid-area: header;
    background-color: #2d3436;
    padding-bottom: 15px;
    border-right: 1px solid rgba(149, 165, 166, 0.3);
}

.appContent{
    grid-area: content;
    background-color: #2d3436;
    padding: 15px 0;
    height: 100%;    
}

.appHeader h3{
    cursor: pointer;
    padding: 0 15px;
}

.appHeader .toggler{
    display: flex;
    flex-direction: column;
    text-align: right;
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.appHeader .toggler i:hover{
    color: #fff !important;
}

.appHeader .headerContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
