.App{
    height: 100%;
    display: flex;
}

.HLO{
    flex-direction: column;    
}

.VLO{}

.appHeader{
    background-color: #353b48;
    display: flex;
}

.VLO .appHeader{
    float: left;
    min-width: 80px;
    height: 100%;
    overflow: auto;
    text-align: center;
}

.HLO .appHeader{
    width: 100%;
    min-height: 100px;
    overflow: hidden;
}

.appHeader h3{
    cursor: pointer;
    padding: 0 15px;
}

.appHeader .toggler{
    display: flex;
    flex-direction: column;
    text-align: right;
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.appHeader .toggler i:hover{
    color: #fff !important;
}

.appHeader .headerContainer{
    width: 100%;
}

.HLO .appHeader .headerContainer{
    display: flex;
    align-items: center;
}

.appContent{
    background-color: #2f3640;
    padding: 15px;
}

.VLO .appContent{
    float: left;
    height: 100%;
    flex-grow: 1;
}

.HLO .appContent{
    width: 100%;
    height: 100%;
    flex-grow: 1;
}